.post-card__container{
    width:50rem;
    height:max-content;
    
}
.media__container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.media{
    
}
.post-options{
    width:100%;
    display: flex;
    justify-content: start;
}
.like,.comment,.share,.bookmark{
    padding:1rem 0.5rem 1rem 1rem;
    text-shadow: 0px 0px 4px;
    cursor:pointer;
}
.like:focus{
    animation:post-actions 2s  ;
}
@keyframes post-actions {
  0%   {transform:translateY(-5px) rotate(0deg);}
  25%  {transform:translateY(-10px) rotate(360deg) scale(1.5);opacity:0.2;}
  100% {transform:translateY(0px) rotate(360deg); opacity:1;}
}
.post-settings{
    height: max-content;
    width:max-content;
    margin-left:auto;

}
.post-settings__container{
    position: absolute;
    right:2rem;
    top:5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index:1;
}
.post-settings--edit,.post-settings--delete{
    padding:1rem;
    width:100%;
    text-align: left;
}
.edit-content{
    width:90%;
    height:10rem;
}
.edit-post__image{
    height:20rem;
    width:100%;filter: grayscale(60%);
}