.media-items-container{
    width:50rem;
    height:max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.media-items{
    max-width: 50rem;
    margin:2rem;
    height: max-content;
}
@media screen and (max-width: 550px) {
  .media-items-container{
    height:max-content;
    width:35rem;
    background-color: #fff;
    margin:2rem;
}
}